/* Cores */
:root{
    --branco: #F2F2F2;
    --roxo: #6E44FF;
    --cinza: #626262;
    --cinzaescuro:#282828;
    --cinzaclaro:#e4e4e48e;
    --preto: #030303;
    --vermelho: #E03F1F;
    --azul: #3381FF;
    --vermelhoescuro: #660200;
    --azulescuro: #0C345A;
}

.btn{
    border-radius: 100px;
    border: var(--roxo) solid 1px;
    background: none;
}

.cta-btn{
    border-radius: 100px;
    border: none;
    background-color: var(--roxo);
}