@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Fontes importadas */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: var(--branco);
  font-family: "Roboto";
  font-weight: 300;
}

body {
  background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p1/69816253-estrelado-noite-montanha-por-do-sol-panorama-gratis-foto.jpg);
}

html {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cadastro,
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  width: 35vw;
  height: 50%;
  background: rgba(0, 0, 0, 0.595);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.286);
  backdrop-filter: blur(7px);
  border-radius: 25px;
}

h1 {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 15%;
}

h2 {
  font-family: "DM Sans";
  font-weight: 800;
  font-size: 2.3rem;
  white-space: nowrap;
}

span {
  margin-top: 5%;
  text-align: center;
}

#form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5%;
}

#criarconfirmar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10px;
}

#buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6vh;
  margin-top: 10%;
  gap: 10%;
}

#buttons a {
  text-decoration: none;
  font-weight: 500;
}

.btn,
.cta-btn {
  width: 100%;
  font-weight: 500;
  white-space: nowrap;
}

label {
  margin-top: 5%;
}

input {
  margin-top: 5%;
  padding: 5%;
  width: 100%;
  height: 5vh;
  border: solid var(--branco) 1px;
  border-radius: 8px;
  background: none;
  outline: none;
}

::placeholder {
  color: var(--cinzaclaro);
}

/*  */

/* Esconde o input original */
input[type="file"] {
  position: absolute;
  left: -9999px; /* Fora da tela */
}

/* Botão personalizado */
.file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--preto);
  color: white;
  font-size: 14px;
  font-family: "DM Sans";
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-label:hover {
  background-color: var(--roxo);
}

.file-name {
  margin-left: 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: var(--cinzaclaro);
}

/* Quando a tela tiver no máximo 768px de largura */
@media screen and (min-width: 760px) and (max-width: 1080px) {
  #cadastro,
  #login {
    width: 50vw;
  }
}

@media screen and (max-width: 759px) {
 #cadastro,
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  width: 50vw;
  min-width: 70vw;
  height: 50%;
  background: rgba(0, 0, 0, 0.595);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.286);
  backdrop-filter: blur(7px);
  border-radius: 25px;
}
    
  }

  #criarconfirmar {
    grid-template-columns: 1fr;
  }

  h2 {
    font-family: "DM Sans";
    font-weight: 800;
    font-size: 150%;
  }
}
