@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--branco);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    border-bottom: solid var(--cinzaescuro) 1px;
    padding-left: 10%;
    padding-right: 10%;
}

#voce img{
    grid-column: 3;
    border-radius: 100%;
    height: 5vh;
    width: 5vh;
}

#voce{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    justify-content: space-between;
    align-items: center;
}

h1 {   
    font-size: 3.5rem;
    font-family: 'DM Sans';
    font-weight: 700;
}

body{
    background-color: var(--preto);
}

span{
    color: var(--roxo);
}

#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--preto);
    height: 70vh;
    gap: 10%;
}

#searchbar{
    background-color: var(--cinzaescuro);
    border: none;
    border-radius: 50px;
    height: 5vh;
    width: 50vw;
    padding: 3.5% 3.5% 3.5% 50px;
    position: relative;
}

#searchbar::placeholder{
    color: var(--cinzaclaro);
}

#lupa{
    display: flex;
    z-index: 1;
    position: absolute;
    translate: 100% 90%;
    color: var(--cinzaclaro);
}

#brand{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 5px;
}

#brand i{
    color: var(--roxo);
    font-size: 2rem;
} 

/* Lembrar de descobrir o erro que está acontecendo na mudança do tamanho da logo */

main{
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    padding: 5vh 10vw 0vh 10vw;
}

#painel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3vw;
}

.card p, li, i{
    color: black;
    list-style: none;
}

ul{
    width: 100%;
    display: flex;
    align-content: space-evenly;
    justify-content: center;
}

.card{
    padding: 2vh 2vw 2vh 2vw;
}

footer{
    display: flex;
    justify-content: center;
}
