/* Cores */
:root{
    --branco: #F2F2F2;
    --roxo: #6E44FF;
    --cinza: #8d8d8d;
    --cinzaescuro:#282828;
}

.btn{
    border-radius: 100px;
    border: var(--roxo) solid 1px;
    background: none;
}

.cta-btn{
    border-radius: 100px;
    border: none;
    background-color: var(--roxo);
}