/* Cores */
:root{
    --branco: #F2F2F2;
    --roxo: #6E44FF;
    --cinza: #626262;
    --cinzaescuro:#282828;
    --cinzaclaro:#e4e4e48e;
}

.btn{
    border-radius: 100px;
    border: var(--roxo) solid 1px;
    background: none;
}

.cta-btn{
    border-radius: 100px;
    border: none;
    background-color: var(--roxo);
}