/* Cores */
:root{
    --branco: #F2F2F2;
    --roxo: #6E44FF;
    --cinza: #626262;
    --cinzaescuro:#282828;
    --cinzaclaro:#e4e4e48e;
    --preto: #030303
}

.btn{
    border-radius: 100px;
    border: var(--roxo) solid 1px;
    background: none;
}

.cta-btn{
    border-radius: 100px;
    border: none;
    background-color: var(--roxo);
}

.btn:hover{
    background-color: var(--branco);
    box-shadow: 0 0 20px 5px #6d44ff65;
    transition: box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.cta-btn:hover{
    box-shadow: 0 0 20px 5px #7c44ff48;  
    transition: box-shadow 0.3s ease-in-out;
}
