@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Fontes importadas */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--branco);
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
}

body{
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p1/69816253-estrelado-noite-montanha-por-do-sol-panorama-gratis-foto.jpg);   
}

html{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 10% 20% 10%;
    width: 30vw;
    height: auto;
    background: rgba(0, 0, 0, 0.46);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 25px;
}

h1{
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 15%;
}

h2{
    font-family: 'DM Sans';
    font-weight: 800;
    font-size: 2.3rem;

}

#form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
}

#buttons{
    display: flex;         
    justify-content: center;
    width: 100%;
    height: 20%;
    margin-top: 5%;
}

.btn, .cta-btn{
    width: 100%;
    height: 100%;
}

#entrar{
    background-color: var(--roxo);
}

input{
    width: 100%;
    height: 5vh;
    border: solid var(--branco) 1px;
    background: none;
}
